
@{
    ViewBag.Title = "Adicionar";
}

<h2>Adicionar</h2>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Criar uma planta</h1>
</div>

<form>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputEmail4">Nome da planta</label>
            <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Código da planta</label>
            <input type="text" class="form-control" placeholder="Código">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Local</label>
        <input type="text" class="form-control" placeholder="ex: Caxias do sul">
    </div>
    <button type="submit" class="btn btn-primary float-right">Cadastrar</button>
</form>
